In [ ]:
'''
Write a program to convert specified days into years, weeks and days.
Take user input.
Note: Ignore leap year
''';

In [53]:


days = int(input('Enter the number of Days:'))
Years = days // 365
weeks = days // 7
rem_days = days //365
rem_weeks = days //4
print('Conversion is', Years,':',weeks,':',days)

Enter the number of Days: 2020

Conversion is 5 : 288 : 2020

In [ ]:
'''
Write a python program to input basic Python salary of an employee and 
calculate its Gross salary according to following:
Basic Salary <= 10000: HRA = 20%, DA = 80%
Basic Salary <= 20000: HRA = 30%, DA = 90%
Basic Salary  > 20000: HRA = 35%, DA = 95%
'''

In [62]:
Basic_Salary= int(input('enter Salary:'))
        if Basic_Salary <=10000:
                  HRA = (20/100)*Basic_Salary
                  DA = (80/100)*Basic_Salary

        elif Basic_Salary <=20000:
                  HRA = (25/100)*Basic_Salary
                  DA = (90/100)*Basic_Salary

        elif Basic_Salary > 20000:
                  HRA = (30/100)*Basic_Salary
                  DA = (95/100)*Basic_Salary
            
           Gross_Salary = Basic_Salary + HRA + DA
            print("Dearness Allowance of Basic Salary", DA)
            print("House Rent of Basic Salary", HRA)
            print("Gross Salary", Gross_Salary)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)

In [ ]:
'''
Write python programme to input electricity unit charges and 
calculate total electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For above unit 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill
'''

In [2]:

units=int(input('Enter the number of units:'))
if units <= 50:
    cost = 0.50*units
    print('Cost to be paid is:',cost)
elif units >= 50 and units <= 150:
    cost = 0.75*units
    print('Cost to be paid is:',cost)
elif units >= 150 and units <=200:
    cost = 1.25*units
    print('Cost to be paid is:',cost)
else:
    if units > 250:
        cost = units*1.50
        extra_charge =(cost / 17)*100
        Total_Bill = cost+extra_charge
        print('Cost to be paid is:',Total_Bill)

Enter the number of units: 300

Cost to be paid is: 3097.0588235294117

In [ ]:
'''
Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''

In [3]:
row=int(input('Enter the number of rows:'))

for i in range(row):
    for j in range(i+1): 
        print(i+1,end=' ')
    print()

Enter the number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
'''
Write a python program to calculate product of digits of a number.
Read value of n from user.
'''

In [6]:
num =int(input('Enter the number:'))
Pro = 1
while num > 1:
    rem = num % 10
    Pro = Pro * rem
    num = num // 10
print('Product of digits is:',Pro)

Enter the number: 12

Product of digits is: 2

In [8]:
'''
Create a list of elements like: x = [45,67,12,'Hello',23.45,'World'] and
perform following operations
1. Extract only string values from this list.
2. Create a new list with strings in upper case.
3. Find the addition of integer values.
4. Check that the value 56 is present in it or not.
5. Print the list in reverse order.
6. Delete the string 'Hello' from it.
7. Insert a new value of 36 at 5th position in list.
8. Count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append[34,'Pune'] to this list.
11. Delete the last element from list.
'''
x = [45,67,12,'Hello',23.45,'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [9]:
###Extract only string values from this list.
x[3],x[5]

('Hello', 'World')

In [10]:
str = [i for i in x if isinstance(i,str)]
print(str)

['Hello', 'World']

In [12]:
###Create a new list with strings in upper case.

names =  ['Sakshi','Sai','Yashraj','Shivraj','Aditya',]
names

['Sakshi', 'Sai', 'Yashraj', 'Shivraj', 'Aditya']

In [13]:
[n.upper() for n in names]

['SAKSHI', 'SAI', 'YASHRAJ', 'SHIVRAJ', 'ADITYA']

In [14]:
### Find the addition of integer values.
x = [45,67,12,'Hello',23.45,'World']
sum = 0
for i in x:
    if isinstance(i,int):
        sum += i
        print('Sum of integer values:',sum)

Sum of integer values: 45
Sum of integer values: 112
Sum of integer values: 124

In [15]:
### Check that the value 56 is present in it or not.
56 in x

False

In [16]:
###Print the list in reverse order.
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [17]:
x.reverse()

In [18]:
x

['World', 23.45, 'Hello', 12, 67, 45]

In [19]:
### Delete the string 'Hello' from it.
x.remove('Hello')

In [20]:
x

['World', 23.45, 12, 67, 45]

In [21]:
###Insert a new value of 36 at 5th position in list.
x.insert(5,36)

In [22]:
x

['World', 23.45, 12, 67, 45, 36]

In [23]:
### Count total number of elements in list now.
len(x)

6

In [24]:
###Extract the values from 2nd index to 5th index.
x[2:6]

[12, 67, 45, 36]

In [25]:
###Append[34,'Pune'] to this list.
x.append([36,'Pune'])

In [26]:
x

['World', 23.45, 12, 67, 45, 36, [36, 'Pune']]

In [27]:
### 11. Delete the last element from list.
x.pop()

[36, 'Pune']

In [28]:
x

['World', 23.45, 12, 67, 45, 36]

In [29]:
'''
Create a tuple of elements with 5 float values in it and perform following operations.
1. Print the data in sorted manner.
2. Check to see that the element 50 is present in it.
3. Convert this tuple in set.
'''
### Create tuple of elements with 5 float values
t =(12.50,23.45,45.12,42.34,67.90)
t

(12.5, 23.45, 45.12, 42.34, 67.9)

In [30]:
###Print the data in sorted manner.
t1 = list(t)
t1

[12.5, 23.45, 45.12, 42.34, 67.9]

In [31]:
t1.sort()

In [32]:
t1

[12.5, 23.45, 42.34, 45.12, 67.9]

In [33]:
###Check to see that the element 50 is present in it.
50 in t1

False

In [34]:
45.12 in t1

True

In [35]:
###Convert this tuple in set.
s = set(t)

In [36]:
s

{12.5, 23.45, 42.34, 45.12, 67.9}

In [37]:
'''
Create a dictionary of elements: {'a':'apple','b','ball','c':'cat','d':'doll','K':'king'} and
perform following operations.

1. Access the data at key 'k'.
2. Add a new values 'z': 'zebra'
3. Replace the contents of 'd' as 'dog'
4. Print all the values from this dictionary.
5. Find the lenght of this dictionary.
'''

d = {'a':'apple','b':'ball','c':'cat','d':'doll','K':'king'}

In [38]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'K': 'king'}

In [39]:
#Access the data at key 'k'.
d['K']

'king'

In [40]:
#Add a new values 'z': 'zebra'
d['z'] = 'zebra'

In [41]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'K': 'king', 'z': 'zebra'}

In [42]:
#Replace the contents of 'd' as 'dog'
d['d'] = 'dog'

In [43]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'K': 'king', 'z': 'zebra'}

In [44]:
#Print all the values from this dictionary.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [45]:
#5. Find the lenght of this dictionary.
len(d)

6

In [46]:
'''
Write a program to find the second largest element in a list.
'''

l = [19,25,8,7,23]

In [47]:
l

[19, 25, 8, 7, 23]

In [48]:
l1 = sorted(l, reverse = True)
l1

[25, 23, 19, 8, 7]

In [49]:
l1[1]

23

In [50]:
'''
This is a list of some metallic elements.
metals = ['silver','gold',...]
Make a new list that is almost identical to the metals list:
The new contains the same items, in the same order, except that it does not contain the item 'copper'.
'''
metals = ['silver','gold','mercury','iron']

In [51]:
metals

['silver', 'gold', 'mercury', 'iron']

In [52]:
# Create a new list without copper
new_List = [metals for metals in metals if metals != 'copper']
print(new_List)

['silver', 'gold', 'mercury', 'iron']