In [2]:
class Employee():
  pass                      ##class creation

In [3]:
emp1 = Employee()
emp2 = Employee()           ##instance of employee class

In [4]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x00000213C9B3FBD0>
<__main__.Employee object at 0x00000213C9B04C50>

In [9]:
emp1.first = 'Natasha'
emp1.last = 'Negi'
emp1.salary = '52000'       ##instance variables

emp2.first = 'Sakshi'
emp2.last = 'Gadekar'       ##instance variables
emp2.salary = '60000'

In [7]:
print(emp2.salary)

60000

In [10]:
print(emp1.last)

Negi

In [11]:
print(emp1.first)

Natasha

In [12]:
print(emp2.first)

Sakshi

In [27]:
class Employee():

    def __init__(self,first,last,salary):
        self.first = first           # emp1.first = 'Ravi'
        self.last  = last
        self.salary = salary

    def show(self):
       print(self.first+ ' ' + ' Okkk')

In [23]:
emp1 = Employee('Ravi','Tyagi' ,550000)
emp2 = Employee('Neha' ,'Kulkarni' ,540000)

In [19]:
emp1.first

'Ravi'

In [37]:
emp1.show

##Encapsulation

In [57]:
class Employee1():

    def __init__(self,first,last,salary):
        self.first = first          
        self.last  = last
        self.__salary = salary   ##Creating private Variable

    def display(self):
        print('salary is' , self.__salary)

In [62]:
emp3 = Employee1('Akash' ,' Tyagi' ,30000)
emp4 = Employee1('Pranav' , 'Patil' , 32000)

In [33]:
emp3.first

'Akash'

In [39]:
emp3.salary

AttributeError: 'Employee1' object has no attribute 'salary'

In [63]:
emp3.display()

salary is 30000

In [64]:
##inheritance

class Employee2(Employee1):
    pass

In [65]:
emp5 = Employee2('Aniket' , 'Rana' ,60000)

In [68]:
emp5.display()

salary is 60000

In [70]:
'''
Create a class called person 
take in name,age,hobby.....
create multiple objects                (make use of default parameter also)
create methods to display all info
''';

In [79]:
class Person:

    def __init__(self,name,age,hobby):
        self.name = name          
        self.age  = age
        self.hobby = hobby

    def display(self):
        print('Name =' , self.name)
        print('Age =' ,self.age)
        print('Hobby=' ,self.hobby)

In [80]:
per1 = Person('Sakshi' , '18' , 'Dancing')
per2 = Person('Sahil' , '19' , 'Reading')

In [81]:
per1.display()

Name = Sakshi
Age = 18
Hobby= Dancing

In [88]:
##Using Default values 
class Person:

    def __init__(self,name,hobby,a=22):
        self.name = name          
        self.a = a
        self.hobby = hobby

    def display(self):
        print('Name =' , self.name)
        print('Age =' ,self.a)
        print('Hobby=' ,self.hobby)

In [89]:
per3 = Person('Siddhi','Singing')

per3.diaplay()

In [90]:
per3.display()

Name = Siddhi
Age = 22
Hobby= Singing